.servicepage {
  padding: 3rem;
}

.servicepage h2 {
  text-align: center;
  padding-bottom: 3%;
  color: darkorange;
  text-shadow: 0 2px 4px rgba(189, 108, 2, 0.3);
}

.servicelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.serviceitem {
  background-color: #f5f3f38c;
  padding: 4rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.serviceitem p {
  font-size: 1rem;
  color: #8d8c8c;
  font-weight: 300;
}

.servicecontainer {
  display: flex;
  justify-content: center;
}

.ourservice {
  position: relative;
  display: inline-block;
}

.ourservice::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 7px;
  background-color: darkorange;
  animation: drawUnderline 0.5s forwards;
}

.contactform {
  max-width: 600px;
  margin: 0 auto;
}

.contactform ::placeholder {
  opacity: 100%;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.1px solid rgb(182, 182, 182);
  border-radius: 0.5rem;
  background: transparent;
}

textarea {
  height: 180px;
}

button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: darkorange;
  color: #333;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

@keyframes dissolveAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.serviceitem {
  animation: dissolveAnimation 0.5s ease-in-out;
}

@keyframes positionalChangeAnimation {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.contactform {
  animation: positionalChangeAnimation 1s ease-in-out;
}

/* Mobile View */
@media (max-width: 767px) {
  .servicepage {
    padding: 1.5rem;
  }

  .serviceitem {
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  .serviceitem h2 {
    font-size: large;
  }
  .ourservice::after {
    bottom: 3px;
    height: 2px;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .servicepage {
    padding: 2rem;
  }

  .servicelist {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .serviceitem {
    padding: 3rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}
