.servicepage {
  padding: 3rem;
}

.servicelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.serviceitem {
  background-color: #f2f2f2;
  padding: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.serviceitem h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #5e5c5c;
}

.serviceitem p {
  font-size: 1rem;
  color: #8d8c8c;
  font-weight: 300;
}
.fphoto img {
  width: 70px;
  height: auto;
}

.servicelist :hover {
  background-color: #dfdede;
  transform: scale(1.06);
  transition: 0.7s ease all;
}

.servicepage h2 {
  text-align: center;
  padding-bottom: 3%;
  color: darkorange;
  text-shadow: 0 2px 4px rgba(189, 108, 2, 0.3);
}

.ourservice {
  position: relative;
  display: inline-block;
}

.ourservice::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 7px;
  background-color: darkorange;
  animation: drawUnderline 0.5s forwards;
}

.servicecontainer {
  display: flex;
  justify-content: center;
}

@keyframes drawUnderline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes dissolveAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.serviceitem {
  animation: dissolveAnimation 1s ease-in-out;
}

@keyframes positionalChangeAnimation {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.serviceitem h3 {
  animation: positionalChangeAnimation 1.5s ease-in-out;
}

/* Mobile View */
@media (max-width: 767px) {
  .servicepage {
    padding: 2rem;
  }
  .ourservice::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 7px;
    background-color: darkorange;
    animation: drawUnderline 0.5s forwards;
  }
  .servicelist {
    grid-template-columns: 1fr;
  }

  .serviceitem {
    padding: 2rem;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1023px) {
  .servicepage {
    padding: 2rem;
  }

  .servicelist {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .serviceitem {
    padding: 3rem;
  }
}
