.documents{
    display: grid;
    grid-template-columns:  50% 50%;
    padding: 8px 20px;
    background-color: rgb(231, 232, 238);
    margin: 5px;
    cursor: pointer;
  }
  
  .documents:hover{
      background-color: rgb(237, 243, 248);
  }
  